---
import PaymentButton from '@payment-button-sdk/astro/PaymentButton.astro';
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Playground de Astro</title>
  </head>
  <body>
    <main>
      <h1>Mi Playground de Astro 🚀</h1>

      <PaymentButton
        id="mi-btn"
        publicKey="publicKey"
        amount={100}
        barrierDismissible
      ></PaymentButton>
    </main>
    <style is:global>
      body {
        font-family: system-ui; 
        background-color: #151515; 
        color: white; 
      }
      main { 
        display: grid;
        place-content: center;
        text-align: center;
        min-height: 100vh;
        gap: 1rem;
      }
    </style>
  </body>
</html>

<script>
  import type { PaymentResponse, PaymentError } from '@payment-button-sdk/ui';

  const btn = document.getElementById('mi-btn');
  btn?.addEventListener('success', (e) => {
    console.log('¡Éxito (Astro)!', (e as any as CustomEvent<PaymentResponse>).detail.transactionId);
  });
  btn?.addEventListener('error', (e) => {
    console.error('Error (Astro):', (e as any as CustomEvent<PaymentError>).detail.message);
  });
</script>