---
import { 
  PaymentButton,
  type PaymentResponse,
  type PaymentError
} from '@payment-button-sdk/astro';
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Playground de Astro</title>
  </head>
  <body>
    <main>
      <h1>Mi Playground de Astro 🚀</h1>

      <PaymentButton
        apiKey="pk_test_ASTRO_999"
        amount={750}
        on:success={(event: CustomEvent<PaymentResponse>) => {
          console.log('¡Éxito (Astro)!', event.detail.transactionId);
        }}
        on:error={(event: CustomEvent<PaymentError>) => {
          console.error('Error (Astro):', event.detail.message);
        }}
      >
        Pagar 7.50 USD
      </PaymentButton>
    </main>
    <style is:global>
      body {
        font-family: system-ui; 
        background-color: #151515; 
        color: white; 
      }
      main { 
        display: grid;
        place-content: center;
        text-align: center;
        min-height: 100vh;
        gap: 1rem;
      }
    </style>
  </body>
</html>