---
import ApoloPayButton from "@apolopay-sdk/astro/ApoloPayButton.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Playground de Astro</title>
  </head>
  <body>
    <main>
      <h1>Mi Playground de Astro 🚀</h1>

      <ApoloPayButton id="mi-btn" processId="processId" barrierDismissible />
    </main>
    <style is:global>
      body {
        font-family: system-ui;
        background-color: #151515;
        color: white;
      }
      main {
        display: grid;
        place-content: center;
        text-align: center;
        min-height: 100vh;
        gap: 1rem;
      }
    </style>
  </body>
</html>

<script>
  import { ApoloPayClient, type ClientResponse, type ClientError } from "@apolopay-sdk/astro";

  const apolo = new ApoloPayClient({
    publicKey: "publicKey",
  });

  const btn = document.getElementById("mi-btn") as any;
  if (btn) {
    btn.client = apolo;
  }

  btn?.addEventListener("success", (e: CustomEvent<ClientResponse>) => {
    console.log("¡Éxito (Astro)!", e.detail.message);
  });
  btn?.addEventListener("error", (e: CustomEvent<ClientError>) => {
    console.error("Error (Astro):", e.detail.message);
  });
  btn?.addEventListener("expired", (e: CustomEvent<ClientError>) => {
    console.error("Expirado (Astro):", e.detail.message);
  });
  btn?.addEventListener("dismissed", () => {
    console.error("Dismissed (Astro)");
  });
</script>
