.payment-button-vue {
  background-color: #42b883; /* Vue Green */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.payment-button-vue:disabled {
  background-color: #a1a1a1;
  cursor: not-allowed;
}