name: payment_button_sdk
description: SDK de Tu Plataforma para botones de pago en Flutter.
version: 1.0.0
homepage:

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0
  socket_io_client: ^3.0.0
  qr_flutter: ^4.1.0
  intl: ^0.18.1
  cached_network_image: ^3.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: 2.0.0
