name: Publish Flutter SDK

on:
  push:
    branches:
      - deploy/dart
  pull_request:
    branches:
      - deploy/dart

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish:
    name: Build and Publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    defaults:
      run:
        working-directory: dart_sdk
    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Dependencies
        run: flutter pub get

      - name: Verify Publication
        run: flutter pub publish --dry-run

      - name: Publish to pub.dev
        run: flutter pub publish --force
