name: Publish Javascript SDK

on:
  push:
    branches:
      - deploy/javascript
  pull_request:
    branches:
      - deploy/javascript

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build and Publish
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    defaults:
      run:
        working-directory: javascript-sdk
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'

      - name: Install Dependencies
        run: pnpm install

      - name: Debug Project Structure
        run: |
          echo "Working directory: $(pwd)"
          ls -la .changeset || echo ".changeset not found"

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1.4.1
        with:
          # This expects you to have a script called release which does a build for your packages and calls changeset publish
          publish: pnpm run release
          cwd: javascript-sdk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
